*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    /* background: linear-gradient(rgba(138, 124, 124, 0.8), rgba(97, 34, 34, 0.8)),
    url('images/background.png') no-repeat; */
    background-size: cover;
    background-color: black;
}


/*컨테이너를 만들지 않았다면 body에  d-j-a 를 걸어주면 가운데정렬 가능*/
.login_container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
section h1{
    font-size: 32px; color: #c71d1d;
    text-align: center;
}
.loginframe{
    width: 500px;
    height: 400px;
    padding: 40px;
    /*opacity: 0.9;*/
    background-color: white;
    border-radius: 30px;
}

#login-form{
    margin-top: 30px;
}

.id_password{ 
    width: 100%;
    position: relative;
}

.id_password input {

    width: 100%;
    padding: 20px 10px 10px;
    background-color: transparent;
    border: none;
    border: 3px solid rgb(177, 173, 173);
    border-radius: 10px;

    font-size: 18px; 
    color: black;
    
}
.id_password label{
    position: absolute;
    left: 10px;
    top: 15px;
}


button{
	margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    height: 40px;
    border-radius: 20px;
    border: none;
    color: white;
    background: red;
    cursor: pointer;
}

/* focus: 눌렀을 때, valid : 클릭 후 돌아오지말아라 */
.id_password input:focus + label, .id_password input:valid + label{
    top: 0;
    font-size: 20px;
    color: grey;
    transition: 0.1s;

}
