@charset "UTF-8";
body{
	display: flex;
	justify-content:center;
	align-items:center;
	background-color: rgba(135, 145, 175, 0.493);

}
.container{
	padding-top: 20px;
	background-size: cover;
	justify-content:center;
	align-items:center;
	width: 700px;
    height: 300px;
    margin-top: 300px;
	border : none;
	border-radius : 20px;
	/*background-color: red;*/
	background-image:url('././images/2.png');
}
.login_container{
    display: flex;
    justify-content: left;
    align-items: center;
}

.loginframe{
    width: 500px;
    height: 400px;
    padding: 40px;
    /*opacity: 0.9;*/
    background-color: blue;
    border-radius: 30px;
}

#login-form{
    margin-left : 80px;
}

h1{
	margin-bottom: 10px;
}

.id_password{ 
    width: 100%;
    position: relative;
}

.id_password input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: transparent;
    border: none;
    border: 1px solid rgb(177, 173, 173);
    border-radius: 20px;
    font-size: 18px; 
    color: black;
    
}
.id_password label{
    position: absolute;
    left: 10px;
    top: 15px;
}


button{
	margin-top: 10px;
	margin-left: 10px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    height: 40px;
    border-radius: 20px;
    border: none;
    color: white;
    background: black;
    cursor: pointer;
}

button:hover{
	background-image:url('././images/3.png');
	
	transition: 0.1s;
}


.image1{
	padding-top: 20px;
	width: 250px;
	height: 250px;
	margin-left : 80px;
}
/* focus: 눌렀을 때, valid : 클릭 후 돌아오지말아라 */
.id_password input:focus + label, .id_password input:valid + label{
    font-style: nomal;
    top: 0;
    font-size: 20px;
    color: grey;
    transition: 0.1s;

}